# Python
__pycache__/
*.pyc
*.py[cod]
*$py.class


# Jupyter
.ipynb_checkpoints/
# IPython
profile_default/
ipython_config.py

# Data / artefacts
data/
models/
reports/*.html
*.zip
*.tgz 
*.csv
*.pdf
*.parquet

# Environment /  Secrets
.env
.my_env
.venv
env/
my_env/
venv/
env.bak/
my_env.bak/
venv.bak/
secrets.*
kaggle.json
